.container{
    margin: 30px auto;
    max-width: 960px;
}

.btn{
    margin: 10px 0;
    animation: colorSwitch 3s infinite, floating 3s infinite forwards;
    border: none;
    color: #fff;
}

input[class*="form"],
label{
    animation: floatingX 3s infinite;
}

@keyframes colorSwitch{
    0%{background: red}
    25%{background: blue}
    50%{background: orange}
    75%{background: yellow}
    100%{background: red}
}

@keyframes floating{
    0%{transform: translateY(0px);}
    50%{transform: translateY(40px);}
    100%{transform: translateY(0px);}
}

@keyframes floatingX{
    0%{transform: translateX(0px);}
    50%{transform: translateX(40px);}
    100%{transform: translateX(0px);}
}